:root {
  --primary-color: indianred;
  --secondary-color: rgb(224, 255, 255);
  --shadow-color: rgb(143, 43, 43);
  --border-color: rgb(248, 152, 152);
  --hover-shadow-color: rgb(205, 92, 92);
  --button-bg-color: rgb(224, 255, 255);
  --button-border-color: rgb(240, 128, 128);
  --button-hover-bg: rgb(255, 182, 193);
  --card-bg-color: rgb(250, 235, 215);
}

html {
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

h1 {
  font-size: 10rem;
  text-align: center;
  text-shadow: 8px 10px 7px var(--shadow-color);
}

.container {
  width: 85vw;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  height: 40rem;
  width: 30%;
  border: 7px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  margin: 5rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--card-bg-color);
  transition: all 0.3s;
}

.card:hover {
  filter: drop-shadow(5px 5px 20px var(--hover-shadow-color));
  transform: scale(1.05) translateY(10px);
}

.card-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card-header {
  margin-top: 1.2rem;
}

.card-price {
  margin-bottom: 1.2rem;
}

.akkobtn {
  width: 40%;
  height: 20%;
  background-color: rgb(224, 255, 255);
  border: 2px solid rgb(240, 128, 128);
  border-radius: 10px;
  color: rgb(205, 92, 92);
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
}

.akkobtn:hover {
  background-color: rgb(255, 182, 193);
}

@media screen and (max-width: 1200px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}

